{% extends 'base.html' %}

{% block title %} Seja bem vindo {% endblock %}

{% block main %}



<div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col">

        </div>

        <div style="font-family:courier; color:white" class="col-auto">

            <form action="" class="row g-3">
                <div class="col-auto">
                   <input type="text" name = "nome" id = "nome" class="form-control" placeholder="Digite o nome">
                </div>
                <div class="col-auto">
                   <input type="text" name = "sobrenome" id = "sobrenome" class="form-control" placeholder="Digite o sobrenome">
                </div>
                <button type="submit" class="btn btn-outline-light"><i class="fas fa-search"></i></button>
            </form>



            <br>
            <br>

            {% if persons != "noUser" %}
                <h3><center>Listagem de clientes</center></h3>
                <ul class="list-group">
                    {% for person in persons  %}
                        <center>
                            <li class="list-group-item">
                                {% if person.foto %}
                                <a href="{{ person.foto.url }}">
                                    <img align="left" style="width:25px;height:25px;border:1px solid #696969" class="rounded-circle" src="{{ person.foto.url }}" alt="">
                                </a>

                                {% endif %}
                                <center>
                                <a href="{% url 'person_update' person.id %}" style="color:grey">{{ person.nome }} {{ person.sobrenome }}</a>
                                <a href="{% url 'person_delete' person.id %}" class="trash-item">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                </center>
                            </li>
                        </center>
                    {% endfor %}
                </ul>
            {% else %}
                <center><h1 style="font-size:25px;">Usuário não encontrado</h1></center>
            {% endif %}

           <br>


            <center><a href="{% url 'person_new' %}" class="btn btn-primary"> Novo cliente</a></center>

            <div style="height:300px;"></div>






            <center>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">Sair</span>
                    </a>
                {% endif %}

                <a href="{% url 'person_list'%}">
                    <span class="badge badge-dark">Menu</span>
                </a>
            </center>
        </div>

        <div class="col">

        </div>
    </div>





{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvimento web com Django 3.x</span>
      </div>
    </footer>
{% endblock %}